* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}

body {
  background: #0f171e;
}

.moviesearchform {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.inputmoviedetails {
  margin: 0 0.5rem;
}
